{% extends "layout.htm" %}
{% block body %}

<link rel="stylesheet" href="{{url_for('static' , filename ='css/audio.css')}}">

<div id="audio_accept">
    <center>
        <form action = "/aud" method = "POST" enctype = "multipart/form-data">
            <div class="form-group">
                <input type = "file" name = "file" />
                <br><br>
                <input type="text" class="form-control input_text" placeholder="No. of Lines of Summary" name="lines_summary">
                <hr width="40%" align="center">
                <input class="btn btn-primary btn-md" type = "submit"/>
            </div>
        </form>
    </center>
</div>

<center>
    <div class="mb-3">
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="8" >{{ final }}</textarea>
    </div>
<center>


{%endblock%}