{% extends "layout.htm" %}
{% block body %} 

<!--
<div class = "obj1"></div>
<div class="obj2"></div>
<div class="obj3"></div>
<div class="obj4"></div>
<div class="obj5"></div>
<div class="obj6"></div>
-->

<div class="main"> 
	<ul>
		<li class="cellContainer">
		<a href="/text">
			<center>
				<img src="{{ url_for('static' , filename = 'text1.png') }}" height ="100" width="100" align="center" id="pic">
			</center>
			<h4><font color=#fff>Text</font></h4>
			<hr color = #35DEF3>
			<p id="desc">Convert your text into a summary!</p>
		</a>
		</li>
				
		<li class="cellContainer">
		<a href="/pdf">
			<center>
				<img src="{{ url_for('static' , filename = 'pdf.png') }}" height="100" width="80" align="center" id="pic">
			</center>
			<h4><font color=#fff>PDF</font></h4>
			<hr color = #35DEF3>
			<p id="desc">Convert your PDF into a summary!</p>
 		</a>	
 		</li>
 		
		<li class="cellContainer">
		<a href="/audio">	
			<center>
				<img src="{{ url_for('static' , filename = 'audio.jpg') }}" height="100" width="80" align="center" id="pic">
			</center>
			<h4><font color=#fff> Audio </font></h4>
			<hr color = #35DEF3>
			<p id="desc">Convert your Audio into a summary!</p>
		</a>	
		</li> 
	</ul>			
</div>

<div class="container-f">
	<div class="item" id="item-1">
		<a href="/text">
			<center>
				<img src="{{ url_for('static' , filename = 'text1.png') }}" height ="100" width="100" align="center" id="pic">
			</center>
			<h4><font color=#fff>Text</font></h4>
			<hr color = #35DEF3>
			<p id="desc">Convert your text into a summary!</p>
		</a>
	</div>
	<div class="item" id="item-2">
		<a href="/pdf">
			<center>
				<img src="{{ url_for('static' , filename = 'pdf.png') }}" height="100" width="80" align="center" id="pic">
			</center>
			<h4><font color=#fff>PDF</font></h4>
			<hr color = #35DEF3>
			<p id="desc">Convert your PDF into a summary!</p>
		</a>
	</div>
	<div class="item" id="item-3">
		<a href="/audio">
			<center>
				<img src="{{ url_for('static' , filename = 'audio.jpg') }}" height="100" width="80" align="center" id="pic">
			</center>
			<h4><font color=#fff> Audio </font></h4>
			<hr color = #35DEF3>
			<p id="desc">Convert your Audio into a summary!</p>
		</a>
	</div>
</div>

{%endblock%}


