{% extends "layout.htm" %}
{% block body %}

<link rel="stylesheet" href="{{url_for('static' , filename ='css/text.css')}}">
<link rel="stylesheet" href="{{url_for('static' , filename = 'css/animation.css')}}">

<div class="obj1"></div>
<div class="obj2"></div>
<div class="obj3"></div>
<div class="obj4"></div>
<div class="obj5"></div>
<div class="obj6"></div>
<div class="obj7"></div>

<center>
    <div class="col-lg-12 col-sm-12 col-md-12">
        <form action = "/textupload" method = "POST" enctype = "multipart/form-data">
            <div class="text-input">
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="8" name="text">{{ input }}</textarea>
                <br>
                <input type="text" class="form-control" placeholder="No. of Lines of Summary" name="lines_summary">
                <br>
                <input class="btn btn-primary btn-md" type = "submit"/>
            </div>
        </form>
    </div>
    <br>
    <div class="col-lg-12 col-sm-12 col-md-12">
        <div class="text-output">
            <textarea class="form-control" id="output" rows="8">{{ short }}</textarea>
        </div> 
        <br>
        <button type="button" class="btn btn-info" id="button_copy">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-files" viewBox="0 0 16 16">
                <path d="M13 0H6a2 2 0 0 0-2 2 2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h7a2 2 0 0 0 2-2 2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm0 13V4a2 2 0 0 0-2-2H5a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1zM3 4a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V4z"/>
            </svg>
            <i class="bi bi-files"></i>
            Copy
        </button> 
    </div>
</center>
{%endblock%}