#exampleFormControlTextarea1{
	border-color: #35DEF3;
}

.input_text{
	width:50%;
}

.mb-3{
	width: 60%;
}

#entry{
	color: #FFFFFF;
}

#end{
	width: 100%;
	color: #ffffff;
	/* background: #414245 !important; */
	background: linear-gradient(-150deg, #56bda2, #2494a2, #304b78, #012551) !important;
	position: fixed;
	bottom: 0px;
}
