.nav-item{
	font-weight: 500;
} 

.nav-link{
	color: #fff !important;
}

.nav-link:hover{
	color: #C7C7C7 !important;
}

.navbar{
	background: linear-gradient(-150deg, #56bda2, #2494a2, #304b78, #012551) !important;
}

ul{
	list-style-type: none;
}

.cellContainer{
	width: 100%;
  	float: left;
  	border-radius: 10px;
	padding: 10px;
	box-shadow: 5px 5px 20px rgba(0,0,0,0.5);
	background: linear-gradient(-150deg, #56bda2, #2494a2, #304b78, #012551);
	justify-content: center; 
	margin: 5px;
}
 
#end{
	width: 100%;
	color: #ffffff;
	background: #414245 !important;
	position: fixed;
	bottom: 0px;
}

.main ul{
	display: flex;
	margin: 120px ;
	padding: 0px;

}


.container-f{
    height: 400px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.item{
    background: linear-gradient(-150deg, #56bda2, #2494a2, #304b78, #012551);
    margin: 10px;
    padding: 5px;
    width: 400px;
    height: 200px;
}

.item a{
    text-decoration: none;
}

#desc{
    font-size: large;
}








/*
.obj1{
    position: absolute;
    z-index: -2;
    left: 10px;
    width:50px;
    height: 10px;
    border: 3px #2494a2 solid;
    border-radius: 9999px;
    animation: rand1 25s linear infinite alternate; 
    -moz-animation: rand1 25s linear infinite alternate;
    -webkit-animation: rand1 25s linear infinite alternate;
}
@keyframes rand1{
    0%{
        transform: translateX(0px) translateY(0px) rotate(0deg);
    }
    50%{
        transform: translateX(100px) translateY(300px) rotate(125deg);
    }
    100%{
        transform: translateX(-100px) translateY(400px) rotate(-125deg);
    }
}

.obj2{
    position: absolute;
    z-index: -2;
    right: 200px;
    width:50px;
    height: 10px;
    border: 3px #2494a2 solid;
    border-radius: 9999px;
    animation: rand1 25s linear infinite alternate-reverse;
    -moz-animation: rand1 25s linear infinite alternate-reverse;
    -webkit-animation: rand1 25s linear infinite alternate-reverse;
}

.obj3 {
    position: absolute;
    z-index: -2;
    bottom: 50px;
    left: 50px;
    height: 20px;
    width: 20px;
    border-radius: 9999px;
    border: 3px #304b78 solid;
    animation: rand2 50s linear infinite alternate;
    -moz-animation: rand2 50s linear infinite alternate;
    -webkit-animation: rand2 50s linear infinite alternate;
}

.obj4 {
    position: absolute;
    top: 100px;
    z-index: -2;
    right: 50px;
    height: 20px;
    width: 20px;
    border-radius: 9999px;
    border: 3px #304b78 solid;
    animation: rand3 50s linear infinite alternate;
    -moz-animation: rand3 50s linear infinite alternate;
    -webkit-animation: rand3 50s linear infinite alternate;
}

@keyframes rand2{
    0%{
        transform: translateX(0px) translateY(0px) rotate(0deg);
    }
    50%{
        transform: translateX(100px) translateY(-400px) rotate(105deg);
    }
    100%{
        transform: translateX(-100px) translateY(400px) rotate(-105deg);
    }
}

@keyframes rand3{
    0%{
        transform: translateX(0px) translateY(0px) rotate(0deg);
    }
    50%{
        transform: translateX(-200px) translateY(400px) rotate(105deg);
    }
    100%{
        transform: translateX(100px) translateY(-300px) rotate(-105deg);
    }
}

.obj5{
    position: absolute;
    z-index: -2;
    right: 10px;
    bottom: 20px;
    width:100px;
    height: 30px;
    background: linear-gradient(-150deg, #56bda2, #304b78);
    border-radius: 9999px;
    animation: rand4 50s linear infinite alternate;
    -moz-animation: rand4 50s linear infinite alternate;
    -webkit-animation: rand4 50s linear infinite alternate;
}

.obj6{
    position: absolute;
    z-index: -2;
    left: 80px;
    top: 100px;
    width:100px;
    height: 30px;
    background: linear-gradient(-150deg, #2494a2, #304b78);
    border-radius: 9999px;
    animation: rand5 45s linear infinite alternate;
    -moz-animation: rand5 45s linear infinite alternate;
    -webkit-animation: rand5 45s linear infinite alternate;
}

@keyframes rand4{
    0%{
        transform: translateX(0px) translateY(0px) rotate(0deg);
    }
    50%{
        transform: translateX(-200px) translateY(-600px) rotate(145deg);
    }
    100%{
        transform: translateX(100px) translateY(-300px) rotate(-135deg);
    }
}

@keyframes rand5{
    0%{
        transform: translateX(0px) translateY(0px) rotate(0deg);
    }
    50%{
        transform: translateX(100px) translateY(600px) rotate(145deg);
    }
    100%{
        transform: translateX(-100px) translateY(300px) rotate(-135deg);
    }
}
/*
.obj7 {
    position: absolute;
    z-index: -2;
    bottom: 20px;
    left: 50px;
    height: 30px;
    width: 30px;
    border-radius: 9999px;
    background: linear-gradient(-150deg, #56bda2,#012551);
    animation: rand6 50s linear infinite alternate;
    -moz-animation: rand6 50s linear infinite alternate;
    -webkit-animation: rand6 50s linear infinite alternate;
}

@keyframes rand6{
    0%{
        transform: translateX(0px) translateY(0px) rotate(0deg);
    }
    30%{
        transform: translateX(-30px) translateY(-90px) rotate(145deg);
    }
    60%{
        transform: translateX(200px) translateY(-300px) rotate(145deg);
    }
    100%{
        transform: translateX(-100px) translateY(-200px) rotate(-135deg);
    }
}

*/

a{
	text-decoration: none;
}

a:hover{
	text-decoration: none;
}

#desc{
	color: #5DFF61;
}

@media only screen and (min-width: 700px){
    .container-f{
        display: none;
    }
}

@media only screen and (max-width: 700px){
    .main{
        display:none;
    }
}

