#upload{
	color: #f0f;
}

.mb-3{
	width: 60%;
}

#exampleFormControlTextarea1{
	border-color: #35DEF3;
}

.input_text{
	width:50%;
}

#entry{
	color:white;
}

#end{
	width: 100%;
	color: #ffffff;
	background: #414245 !important;
	position: fixed;
	bottom: 0px;
}